.detailstable {
  margin-top: 10px;
}

.pendingcell {
  background-color: rgb(252, 114, 114);
}
.receivedcell {
  background-color: rgb(109, 241, 109);
}

.cellheaders {
  background-color: #eee;
  font-size: 1rem;
  font-weight: 600;
}

.imgsection {
  display: flex;
  width: 200px;
  height: 200px;
  border: 2px solid #1976d2;
  margin: 5px;
  padding: 2px;
}

.imgsection img {
  height: 100%;
  width: 100%;
}
